version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=https://api.bush.uz
    container_name: korzinka-eco-frontend
    ports:
      - "8080:80"
    environment:
      - VITE_API_BASE_URL=https://api.bush.uz
      - VITE_APP_NAME=Korzinka Eco App
      - VITE_APP_VERSION=1.0.0
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

